<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/built.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script type="module" src="/static/client_side_logic/initClientSideLogic.js"></script>
    <title>Welcome to FastAPI</title>
  </head>
  <body data-theme="business" class="h-screen w-screen">        
    {% include "shared/_header.html" %}
    <h1 class="text-xl text-center">Hello from FastAPI with TailwindCSS and DaisyUI</h1>
  </body>
</html>
